<nav class="bg-gray-800 text-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <%= link_to root_path, class: "flex items-center space-x-2" do %>
          <svg class="h-9 w-9 white mr-2 draw-line" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
          </svg>
        <% end %>
        <%= link_to root_path do %>
          <span class="text-xl font-bold">Stock Trading App</span>
        <% end %>
      </div>

      <div class="flex items-center space-x-4">
        <!--Navigation Links-->
        <div class="hidden md:flex md:flex:row flex-row items-center justify-start text-sm md:space-x-1 pb-3 md:pb-0 navigation-menu">
          <%= link_to "Dashboard", root_path, 
              class: "my-3 py-2 px-4 text-white flex-1 rounded-3xl hover:bg-gray-700 #{'bg-gray-700' if current_page?(root_path)}" %>
          <%= link_to "Transaction", transactions_path, 
              class: "my-3 py-2 px-4 text-white flex-1 rounded-3xl hover:bg-gray-700 #{'bg-gray-700' if current_page?(transactions_path)}" %>
          <%= link_to "Portfolio", portfolios_path, 
              class: "my-3 py-2 px-4 text-white flex-1 rounded-3xl hover:bg-gray-700 #{'bg-gray-700' if current_page?(portfolios_path)}" %>
        </div>

        <!--User Menu-->
        <div class="flex items-center space-x-4 border-l border-gray-700 pl-6">
          <div class="flex items-center space-x-2">
            <!--User Balance-->
            <span class="text-sm my-3 py-1.5 px-3 flex-1 rounded-3xl bg-gray-600 text-gray-300 rounded-full flex items-center justify-center ring-2 ring-gray-500 hover:ring-gray-100">Balance: <%= number_to_currency(current_user.balance) %></span>
            <!-- User Avatar -->
            <div class="w-8 h-8 bg-gray-600 rounded-full flex items-center justify-center ring-2 ring-gray-500 hover:ring-gray-100">
              <span class="text-sm font-semibold text-gray-300">
                <%= current_user.first_name.first %><%= current_user.last_name.first %>
              </span>
            </div>
            <!-- User Greeting -->
            <span class="text-sm font-medium">Hello, <%= current_user.first_name %></span>
          </div>
          
          <!-- Logout Button -->
          <%= link_to "Logout", destroy_user_session_path, 
              data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" },
              class: "px-4 py-2 rounded-3xl text-sm font-medium bg-red-600 hover:bg-red-700 transition-colors duration-200 shadow-sm" %>
        </div>
      </div>
    </div>
  </div>
</nav>

<%#= link_to "Logout", destroy_user_session_path, 
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "my-3 py-2 px-4 text-white flex-1 rounded-3xl hover:bg-red-500"%>